<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title }}</title>
    <if condition="description"><meta name="description" content="{{ description }}" />
    </if><meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#0d6efd" />

    <link rel="preload" href="fonts/inter-v20-latin_latin-ext-regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="fonts/inter-v20-latin_latin-ext-700.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="fonts/poppins-v24-latin_latin-ext-700.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="stylesheet" href="css/molique-style.css" />